<Settings>
  <JoystickSettings>
    <Setting>
      <jindex>0</jindex>
      <aindex>0</aindex>
      <expo>0</expo>
      <deadband>0</deadband>
      <offset>0</offset>
      <max>0</max>
    </Setting>
  </JoystickSettings>
  <IndexSettings>
    <Setting>
      <index>1</index>
      <name>Temp1</name>
      <digit>2</digit>
      <size>12</size>
    </Setting>
    <Setting>
      <index>2</index>
      <name>Temp2</name>
      <digit>2</digit>
      <size>12</size>
    </Setting>
  </IndexSettings>
  <IndexStats>
    <Stats>1</Stats>
    <Stats>2</Stats>
  </IndexStats>
</Settings>